#badge {
    color: white;
    border-radius: 50%;
    background: #DC3545;
    position: relative;
    top: -10px;
    right: -85px;
    font-size: 10px;
    /* top, right, bottom, left*/
    padding: 1px 4px 1px 4px;
}